{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminpanel.css' %}">
    <link rel="stylesheet" href="{% static 'css/top-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
    <link rel="stylesheet" href="{% static 'css/effects.css' %}"> <!-- New CSS for effects -->
    {% block extra_css %}
    
    {% endblock extra_css %}

</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo-text">
                <span>Su Yadanar Diamond and Jewellery Shop</span>
            </div>
            <button class="hamburger" id="hamburger">
                <i class="fas fa-bars icon"></i>
            </button>
        </div>
    </header>
    <div class="container">
        <div class="sidebar">
            <ul class="no-bullets">
                <a href="{% url 'data:home' %}"><li class="sidebar-items">Home</li></a>
                <li id="data-view" class="sidebar-items">Data View
                    <ul id="data-view-menu" class="dropdown-menu no-bullets" style="display: none;">
                        <a href="{% url 'data:earrings' %}"><li>Earring</li></a>
                        <a href="{% url 'data:eprset' %}"><li>EPR Set</li></a>
                        <a href="{% url 'data:handchain' %}"><li>Handchain</li></a>
                        <a href="{% url 'data:necklace' %}"><li>Necklace</li></a>
                        <a href="{% url 'data:pendant' %}"><li>Pendant</li></a>
                        <a href="{% url 'data:ring' %}"><li>Ring</li></a>
                    </ul>
                </li>
                <a href="{% url 'data:form' %}"><li class="sidebar-items">Add/Update</li></a>
                <a href="{% url 'data:single_view' %}"><li class="sidebar-items">Single View</li></a>
                <a href="{% url 'data:settings' %}"><li class="sidebar-items">Utilities</li></a>
                <li class="sidebar-items"><a href="{% url "data:logout" %}">Log-out</a></li>
            </ul>
        </div>        
        <div id="super-container">
            {% block content %}
            <!-- Content will be loaded here -->
            {% endblock %}
        </div>
    </div>

    <!-- Sidebar Dropdown Script -->
    <script src="{% static 'js/dropdown_sidebar.js' %}"></script>
    <script src="{% static 'js/hamburger.js' %}"></script>
    {% block extra_js %}

    {% endblock extra_js %}
</body>
</html>
