<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-View |Pendant</title>
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/image slider/image slider.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="list-container">
        <div class="first-container">
            <span class="product-category"><i class="fas fa-certificate"></i> Pendant</span>
            <div class="table-tools">
                <div class="search-tools">
                    <form>
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="dropdown">
                    <button class="dropdown-btn">Sort by <span class="arrow">&#9662;</span></button>
                    <ul class="dropdown-menu">
                      <li>ID</li>
                      <li>Name</li>
                    </ul>
                  </div>
                  
                  <div class="dropdown">
                    <button class="dropdown-btn">Rows Per Column <span class="arrow">&#9662;</span></button>
                    <ul class="dropdown-menu">
                      <li>10</li>
                      <li>30</li>
                      <li>50</li>
                    </ul>
                  </div>
                  
            </div>
        </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Image Preview</td>
                            <td>Purchased</td>
                            <td>Details</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>P-1232</td>
                        <td class="truncate">Black Tea is very nice</td>
                        <td>
                            <div class="image-slider">
                            <button class="slider-btn prev-btn">&lt;</button>
                            <div class="slider-container">
                              <img src="img/images.png" alt="Image 1" />
                              <img src="img/images.png" alt="Image 2" />
                              <img src="img/background.avif" alt="Image 3" />
                            </div>
                            <button class="slider-btn next-btn">&gt;</button>
                          </div>
                        </td>
                        <td><input type="checkbox" checked disabled></td>
                        <td><button>View Details</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        <div class="pagination">
            <a href="#" class="prev">&laquo; Prev</a>
            <a href="#" class="page active">1</a>
            <a href="#" class="page">2</a>
            <a href="#" class="page">3</a>
            <a href="#" class="next">Next &raquo;</a>
          </div>
    </div>
    <script src="js/script-list.js"></script>
    <script src="js/image-slider.js"></script>
</body>
</html>