<link rel="stylesheet" href="css/form.css">
<div class="form-container">
    <div class="form-header">
    <p>Update Form</p>
    <button>Delete Product</button>
    </div>
    <div class="input-group">
        <label for="productID" class="label">Product ID:&nbsp;</label>
        <select id="options" disabled>
            <option value="R-">R-</option>
            <option value="H-">H-</option>
            <option value="EPR-" selected>EPR-</option>
            <option value="P-">P-</option>
            <option value="E-">E-</option>
            <option value="N-">N-</option>
        </select>
        <input type="number" id="numberInput" value="1232" min="0" disabled>
    </div>
    <div class="form-container-2">
        <form id="updateProductForm" enctype="multipart/form-data">
            <div class="grid-container">
                <div class="grid-item">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" maxlength="255" value="Existing Product Name" required>
                </div>
                <div class="grid-item">
                    <label for="total_weight">Total Weight:</label>
                    <input type="text" id="total_weight" name="total_weight" value="Existing Total Weight">
                </div>
                <div class="grid-item">
                    <label for="gold_net_weight">Gold Net Weight:</label>
                    <input type="text" id="gold_net_weight" name="gold_net_weight" value="Existing Gold Net Weight">
                </div>
                <div class="grid-item">
                    <label for="gems_1">Gems 1:</label>
                    <input type="text" id="gems_1" name="gems_1" value="Existing Gem 1">
                </div>
                <div class="grid-item">
                    <label for="gems_2">Gems 2:</label>
                    <input type="text" id="gems_2" name="gems_2" value="Existing Gem 2">
                </div>
                <div class="grid-item">
                    <label for="gems_3">Gems 3:</label>
                    <input type="text" id="gems_3" name="gems_3" value="Existing Gem 3">
                </div>
                <div class="grid-item">
                    <label for="a_ywrt">A Ywrt:</label>
                    <input type="text" id="a_ywrt" name="a_ywrt" value="Existing A Ywrt">
                </div>
                <div class="grid-item">
                    <label for="latkha">Latkha:</label>
                    <input type="text" id="latkha" name="latkha" value="Existing Latkha">
                </div>
                <div class="grid-item price-item">
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" value="Existing Price">
                    <select id="currency" name="currency">
                        <option value="MMK" selected>MMK</option>
                        <option value="USD">USD</option>
                        <option value="THB">THB</option>
                    </select>
                </div>                        
                <div class="grid-item purchased-checkbox">
                    <label for="purchased">Purchased:</label>
                    <input type="checkbox" id="purchased" name="purchased" checked>
                </div>
                <div class="grid-item">
                    <label for="lastUpdated">Last Updated:</label>
                    <input type="text" disabled>
                </div>
                <div class="grid-item">
                    <label for="lastUpdated">Time to be updated:</label>
                    <input type="text" id="lastUpdated" name="lastUpdated" disabled>
                </div>
                
            </div>
            <br>
            <div id="imageUploadContainer">
                <label>Upload Images (Up to 10):</label><br>
                <input type="file" name="images" class="image-input" accept="image/*"><br><br>
            </div>
            <button type="button" id="addImageButton">Add Another Image</button>
            
            <br><br>
    
            <input type="submit" value="Update">
        </form>
    </div>
    <script src="js/create-form.js"></script>