header .top-bar {
    background: linear-gradient(135deg, #C3B1E1, #9A8FDD, #705DC8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2%; 
    position: sticky;
    z-index: 100;
    box-shadow: 0 1px 1px 0 #333333;
}

header .top-bar .logo-text {
    color: #ffffff;
    text-align: left;
    font-size: 1.5rem;
}
/* Loading indicator */
.loading-indicator {
    position: fixed; /* Fixed position */
    top: 10vh; /* Adjust this value based on your header height */
    left: 0;
    right: 0;
    height: 3px; /* Height of the loading line */
    background: #8829d5; /* Loading line color */
    transform: translateX(100%); /* Start off-screen */
    transition: transform 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Ensure it's above other content */
}

/* Show loading indicator */
.loading-indicator.active {
    transform: translateX(0); /* Move into view */
}
